In [2]:
import pandas as pd

In [3]:
from pandas.io.sql import get_schema

In [5]:
pd.__version__

'2.2.3'

In [10]:
df = pd.read_csv('fhv_tripdata_2020-04.csv', nrows=500)

In [9]:
df

,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag,Affiliated_base_number
0,B00008,2020-04-01 00:45:00,2020-04-01 00:58:00,264.0,264,NaN,B00008
1,B00037,2020-04-01 00:04:17,2020-04-01 00:17:31,264.0,76,NaN,B00037
2,B00037,2020-04-01 00:29:01,2020-04-01 00:33:58,264.0,35,NaN,B00037
3,B00037,2020-04-01 00:13:55,2020-04-01 00:18:30,264.0,188,NaN,B00037
4,B00037,2020-04-01 00:28:59,2020-04-01 00:31:02,264.0,188,NaN,B00037
...,...,...,...,...,...,...,...
95,B01145,2020-04-01 00:55:28,2020-04-01 01:00:01,264.0,242,NaN,B02866
96,B01145,2020-04-01 00:03:29,2020-04-01 00:19:56,264.0,244,NaN,B02682
97,B01145,2020-04-01 00:24:01,2020-04-01 00:35:54,264.0,119,NaN,B02682
98,B01145,2020-04-01 00:47:28,2020-04-01 00:53:09,264.0,69,NaN,B02682
99,B01145,2020-04-01 00:58:15,2020-04-01 01:12:31,264.0,42,NaN,B02682

In [8]:
print(get_schema(df, 'fhv_trip_data'))

CREATE TABLE "fhv_trip_data" (
"dispatching_base_num" TEXT,
  "pickup_datetime" TEXT,
  "dropoff_datetime" TEXT,
  "PULocationID" REAL,
  "DOLocationID" INTEGER,
  "SR_Flag" REAL,
  "Affiliated_base_number" TEXT
)